pyrogram
pyromod
tgcrypto
requests
aiohttp
aiofiles
python-dotenv
flask
gunicorn
yt-dlp
cloudscraper
m3u8
pytube
beautifulsoup4
lxml
psutil
pymongo
motor
opencv-python-headless
Pillow
pyrogram
pyromod
tgcrypto
requests
aiohttp
yt-dlp
cloudscraper
m3u8
aiofiles
pytube
ffmpeg-python
pycryptodomex
gunicorn
